<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SKATES</title>
</head>
<body>
    <h2>
        <p>Коньки BAUER VAPOR
Имеют самую узкую колодку, самый низкий подъем и низкую высоту конька
            среди семейств линеек BAUER. Принято считать, что коньки
            BAUER VAPOR разработаны для нападающих, так как имеют небольшой
            наклон вперед, что обеспечивает взрывную скорость на старте.
        </p>

        <p>Коньки BAUER SUPREME
Имеют среднюю колодку, средний подъем и высоту конька. Коньки BAUER SUPREME
    - самый универсальный вариант, из семейств коньков BAUER. Отличительная
    черта данного семейства коньков BAUER SUPREME - анатомический ботинок
    имеющий плотную, комфортную посадку еще до процесса термоформовки, что
    обеспечивает комфортную посадку. SUPREME в переводе с английского означает
    НАИВЫСШИЙ. Данный перевод сильно подчеркивает уровень линейки коньков BAUER
    SUPREME.
        </p>
        <p>Коньки BAUER NEXUS Имеют широкую колодку, самый высокий подъем
            и высоту конька среди семейств линеек BAUER. Коньки BAUER NEXUS
            будут удобны игрокам с большой полнотой ноги. Отличительная черта
            данного семейства это повышенное внимание к уровню защиты.
        </p>

    </h2>
    <a href="http://127.0.0.1:8000/func3_view/"><button>Вернуться обратно</button></a>
</body>
</html>